<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% do craft.app.view.registerCssFile('@web/styles.css') %}
  </head>
  <body>
    {% set currentSegment = craft.app.request.getSegment(1) %}

    <header>
      <a class="home" href="{{ siteUrl }}">{{ siteName }}</a>
      <nav aria-label="Primary">
        <ul role="list">
          <li>
            <a href="{{ url('/') }}" aria-current="{{ currentSegment is null ? 'page' : null }}">Portfolio</a>
          </li>
          <li>
            <a href="{{ url('concerts') }}" aria-current="{{ currentSegment == 'concerts' ? 'page' : null }}">Concerts</a>
          </li>
          <li>
            <a href="{{ url('events') }}" aria-current="{{ currentSegment == 'events' ? 'page' : null }}">Events</a>
          </li>
          <li>
            <a href="{{ url('world') }}" aria-current="{{ currentSegment == 'world' ? 'page' : null }}">World</a>
          </li>
          <li>
            <a href="{{ url('people') }}" aria-current="{{ currentSegment == 'people' ? 'page' : null }}">People</a>
          </li>
          <li>
            <a href="{{ url('contact') }}" aria-current="{{ currentSegment == 'contact' ? 'page' : null }}">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <div class="copyright">&copy;{{ now | date('Y') }} Jack Doyle</div>
    </footer>
  </body>
</html>
